extends layout
block content
	nav(class="navbar navbar-inverse" ,role="navigation")
		div.container-fluid
			div.navbar-header
				button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#bs-example-navbar-collapse-9")
				a.navbar-brand(href="/main") 首頁
			div#bs-example-navbar-collapse-9.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a 新聞
					li
						a 市集
					li
						a(href="/forum") 聊天室
